*{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    
}
a{
    text-decoration: none;
}
#logo{
    color: #f72585;
    font-size: 2rem;
    font-weight: 600;
}


.nav-link{
    position: relative;
    
}

.nav-link::after{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width:0;
    height: 5px;
    background-color: #f72585;
    transition: 0.5s;
}

.nav-link:hover::after{
    width: 100%;
}
/* #home{
    height: 80vh;
    width: 100%;
} */
#home-img{
   margin:px;
    width: 20rem;
     border-radius: 25px;
     box-shadow: 2px 2px 10px black;
     transition: 0.5s;
}
#home-img:hover{
    transform: scale(1.01);
}

#home-heading{
    color: #f72585;
    font-weight: 600;
}

#btn-home{
    width: fit-content;
    background-color: #f72585;
    color: #fff;
}

#para-home{
    text-align:justify;
}

.progress-bar{
    background-color: #f72585;
}
#heading,#heading-1{
    color: #f72585;
    margin: 30px 0 ;
}

.card-img-top{
   
    height: auto;
    
}

#banner{
    background-color: #f72585;
    color: #fff;
}
#btn-ban{
    background-color: #fff;
    color: #f72585;
}

.fa-solid{
    font-size: 3rem;
}

.fa-brands,.fa-solid{
    font-size: 30px;
}

.footer{
    background:linear-gradient(#fd0363,#f41c34);
    color: #fff;
}